*{
    margin: 0;
    padding:0;
}
body{
    background-color:rgb(243, 252, 4);
}
.head{
    align-items: center;   
    height: 60px;
}
marquee{
    font-size: 25px;
    color: rgb(7, 255, 48);
    font-weight: bolder;    
}

.head h1{
    color:rgb(243, 14, 6);
    text-decoration: dashed;
    padding-top: 8px;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
    font-size: 40px;
}

.out{
    color: rgb(9, 42, 253);
    align-items: center;
    text-align: center;
}
.out h1{
    font-size: 30px;

}
.but{
    align-items: center;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
.but input{
    
    background-color:rgb(5, 25, 250);
    width:25%;
    height:40px;  
    text-align: center;
    color:rgb(87, 127, 206);
    font-weight: bolder;
    font-size: 20px;
    

}
input[type="submit"]:hover{
      box-shadow:  inset 2px 2px 1px rgb(255, 3, 3) ;
}
.but input:hover{
    text-shadow:2px 2px  1px black;
}
img{
    width: 75%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(252, 2, 2);
    border-radius: 6px ;
}